<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Home</title>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/landing_page/landing_page.css">
  </head>

  <body>

    

    <div class="backgroundImage">
      <img class="backgroundImage" src = "/src/index_page/external/image97249-89lh-2000w.png">
    </div>

    <div class="contactUs">
      
      <div class="wordings">
        

        
      </div>

      <div class="icons">
        <p>Get In Touch: +6512345678</p>
          <div class="socials">
          <p id='hello' class="socialMedia">Let's Get Social: 

          <a class='instagramLink' href = '#'>
            <i class="fa-brands fa-instagram"></i>   
          </a>
          <a class='facebookLink'href="#">
            <i class="fa-brands fa-facebook"></i>
          </a>
          </div>

        </p> 
  

      </div>

    </div>

    
    <script src="/dist/landing_page.bundle.js"></script>
  </body>

</html> 
    

