*{
    margin-left: 0px;
    margin-left: 0px;
    padding: 10 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    max-width: 500em;
  }
  
  
  .header{
    height: 50px;
    width: 90%;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  
  .logo{
    width:130px;
    height: auto;
  }
  
  .menuBar{
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .menuButton{
    text-decoration: none;
    color: black;
  }
  
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .backgroundImage{
    margin-left: 0px;
    margin-right: 0px;
    width: 100.29%;
    height: 420px
  }
  
  
  
  .icons{
    margin: 0px 0px 0px 0px;
    display: flex;
    gap: 50px;
    
  }
  
  .fa-instagram{
    margin-left: 10px;
  }
  
  .instagramLink{
    text-decoration: none;
    color: black;
  }
  
  .facebookLink{
    text-decoration: none;
    color: black;
  }

  /* *{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
} */
/* body{
    background-color: #333;
    height: 100vh;
} */
/* .icons-size{
    color: #333; 
     font-size: 14px;
} */

.action{
    /* position: fixed; */
    right: 30px;
    top:20px
}
.action .profile{
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
    background-color:rgba(255, 198, 0, 0.9900000095367432);
    margin-top: -5px;
}

#profilePic{
  font-size: larger;
  margin-left: 5px;
  margin-top: 3px; 
}
.action .profile img{
    width: 100%;
    top:0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}
.action .menuu{
    background-color:#FFF;
    /* box-sizing:0 5px 25px rgba(0,0,0,0.1); */
    border-radius: 15px;
    /* padding: 10px 20px; */
    position: absolute;
    right: 100px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(255, 198, 0, 0.9900000095367432);
}
.action .menuu.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
}
/* .action .menu::before{
    background-color:#fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform:rotate(45deg);
    top:-5px;
    width: 20px;
} */
.action .menuu h3{
    color: #555;
    /* font-size: 16px; */
    font-weight: 600;
    margin-right: 500px;
    
}
.action .menuu h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}
.action .menuu ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
    

}
.action .menuu ul li img{
    max-width: 60px;
    margin-left: 1000px;
    opacity: 0.5;
    transition:0.5s
}
.action .menuu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    
}
.action .menuu ul li:hover img{
    opacity: 1;
}
.action .menuu ul li:hover a{
    color:white;
}

.userAccountWord{
  width: 120px;
  /* margin: 0 0 ; */
  margin-left: 20px;
}

/* li{
  /* margin-right: 100px; */

/* #iconsMenu{
  margin-right: 100px;
} */

.logOutThing{


  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.logOutThing:hover{
  color:white;
}
#userName{
  font-size: large;
  color: black;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
}